* { /* global */
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4 {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    color: black;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 20px;
}

.anchor-tag { 
    /* you should never use id's, use classes instead
    since it creates a conflict with elements with multiple id's */
    color: red;
}

.section-wrapper {
    background-color: #cff1ca;
    padding: 25px;
}

header {
    background-color: #85c4ff;
    padding: 20px;
}

header nav {
    align-items: center;
    display: flex;
    flex-direction: row; /* default flex direction is row */
    justify-content: flex-end; /* push elements to the end */
    margin: 0 auto;
    max-width: 900px;
}

header nav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px; /* margin is not "clickable" while padding is */
}

header nav a:last-of-type{
    margin-right: 0;
}

.interior {
    background-color: #9ef490;
    border: 10px solid green;
    margin: 40px auto;
    /* same as 40px 40px 40px 40px, the dimensions start from the top and go clockwise */
    /* putting auto fills the rest in -- default centering */
    max-width: 900px;
    padding: 40px;
}

.flex-interior {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    max-width: 900px;
    padding: 40px 0;
}

.flex-parent {
    background-color: lightcoral;
    border: 10px solid brown;
    display: flex;
    flex-basis: 47.75%;
    flex-shrink: 0;
    gap: 25px;
    padding: 25px;
    width: 100%;
}

.flex-parent h1 {
    color: brown;
}

.flex-parent:first-of-type { /* pseudo-selector */
    flex-basis: 100%;
    padding: 40px;
}

.flex-parent-stacked {
    flex-direction: column;
}

.flex-child {
    background-color: beige;
    border: 2px solid orange;
    flex-basis: 33%;
    min-height: 100px;
}

.flex-child-big {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.positioning-wrapper{
    background-color: #cad7f1;
    padding: 40px 20px;
}

.interior--positioning{
    background-color: #85c4ff;
    border-color: #0e3f9e;
    min-height: 600px;
    position: relative;
}

.circle{
    background-color: #cad7f1;
    border: 5px solid #0e3f9e;
    border-radius: 50%; /* 50% always makes a circle -- can be used for rounded corners */
    height: 80px;
    position: absolute;
    width: 80px;
}

.square{
    background-color: #cad7f1;
    border: 5px solid #0e3f9e;
    height: 80px;
    position: absolute;
    width: 80px;
}

.interior--header{
    background-color: plum;
    border-color: purple;
}